!doctype html
html
    head
        title star-collector.github.io
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
    body
        div(id="particles-js")
        //- div(class="card-info")
        script(src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")